@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Home"] = Localizer["Home"];
    ViewData["About"] = Localizer["About"];
    ViewData["Contact"] = Localizer["Contact"];
    ViewData["Register"] = Localizer["Register"];
    ViewData["Login"] = Localizer["Login"];
    ViewData["AboutUs"] = Localizer["AboutUs"];
}
<br />
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewData["About"]
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12">
            <p>
                @ViewData["AboutUs"]
            </p>
        </div>
    </div>
    <!-- /.row -->
</div>
